[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=//redis.skasadevops.online
Environment=CATALOGUE_HOST=//catalogue.skasadevops.online
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target